/*body{*/
    /*background-color: #eceff1;*/
/*}*/

.img-responsive {
    display: block;
    height: 140px;
    width: 100%;
    margin-bottom: 1rem;
}

.err-msg{
    color: red;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #eceff1;
    border-top: .05rem solid #eceff1;
    margin-top: 1rem;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.required-mark{
    margin-left: 2px;
    color: red;
}

.blog-post{
    margin-bottom: 3rem;
}